* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;

  gap: 40px;
}
.header-navigation__left-nav-list {
  display: flex;
  gap: 24px;
  align-items: center;
}
.header-navigation__left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-navigation__left-nav-list > li {
  position: relative;
}
.header-navigation__left-nav-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: #413e52;
  padding-bottom: 8px;
}
.header-hints {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #111131;
  color: #ababfa;
  padding: 8px 0;
  font-size: 13px;
  font-weight: 400;
}
.header-navigation__left-nav-link {
  text-decoration: none;
}
.header-navigation__left ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-navigation__left-nav-list li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  gap: 8px;
  padding: 12px;
  flex-wrap: wrap;
  width: 500px;
  z-index: 5;
}
.header-navigation__left-nav-list li ul li {
  width: 25%;
}
.header-navigation__left-nav-list li ul li a {
  text-decoration: none;
  display: block;
  padding: 8px;
  color: #413e52;
}

.header-navigation__left-nav-list li:hover ul {
  display: flex;
}
.header-navigation__right {
  display: flex;

  gap: 40px;
}
.header__actions-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__actions-sub__btn {
  background-color: #5c5cff;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.hero {
  display: flex;
  position: relative;
  max-width: 1218px;
  margin: 0 auto;
  background: #fff;
  margin-top: 96px;
  margin-bottom: 128px;
}
.hero__left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  border: 1px solid #ebeaf2;
  border-right: none;
  border-radius: 8px;
  padding-left: 48px;
  padding-top: 65px;
  padding-bottom: 24px;
  padding-right: 24px;
  gap: 30px;
}
.hero__left::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: calc(100% - 64px - 64px);
  background: #5c5cff;
  transform: translateY(-50%);
}
.hero__left-title {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #5c5cff;
}
.hero__left-info p {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #413e52;
}
.hero__left-info span {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 19.5px;
  color: #868297;
}
.hero__left-title-main {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  line-height: 62.4px;
  letter-spacing: 1px;
  color: #413e52;
}
.hero__right {
  width: 50%;
}
.hero__right img {
  width: 100%;
}
.hero__left-absolute {
  position: absolute;
  bottom: -71px;

  left: -56px;
  z-index: -1;
}

.hero__right-absolute {
  position: absolute;
  top: -48px;
  right: -96px;
  z-index: -1;
}
.recent {
  max-width: 1218px;
  margin: 0 auto;
}
.recent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 0 40px;
  border-bottom: 1px solid #ebeaf2;
  padding-bottom: 16px;
  margin-bottom: 40px;
}
.recent__header-title {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #413e52;
}
.recent__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.article-card {
  border: 1px solid #ebeaf2;
  border-radius: 8px;
  padding: 24px;
}
.article-card__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.article-card__info-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.article-card__category {
  margin-top: 32px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #5c5cff;
}
.article-card__author {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 0%;
  color: #868297;
}
.article-card__title {
  font-family: Inter;
  font-weight: 400;
  font-style: Normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #413e52;
}
.box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1220px;
  height: 254px;
  border-radius: 8px;
  margin: 128px auto;
  border: 1px solid #ebeaf2;
  padding: 48px 48px;
  background-color: #111131;
}
.box-content__left-title {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #5c5cff;
  padding-bottom: 27px;
  padding-top: 48px;
}
.box-content__left-subtitle {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 31px;
  line-height: 50.4px;
  letter-spacing: 1px;
  color: #ffffff;
  width: 500px;
  height: 101px;
  top: 45px;
  angle: 0 deg;
  opacity: 1;
}
.box-content__right-inp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 534px;
  height: 56px;
  angle: 0 deg;
  opacity: 1;
  cursor: pointer;
  border-radius: 4px;

  border: 1px solid #8989f8;
  background-color: #1b1b4d;
  text-decoration: #5c5cff;
}
.box-content__right-inp::placeholder {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #868297;
}
.box-content__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 27px;
  text-decoration: #5c5cff;
}
.box-content__right-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 534px;
  height: 56px;
  opacity: 1;
  cursor: pointer;
  border-radius: 4px;
  background-color: #5c5cff;
  text-transform: uppercase;
  color: #fff;
}
.case {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 1218px;
  height: 325px;
}
.case__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}
.case__left-absolute {
  position: absolute;
  bottom: -71px;

  left: -56px;
  z-index: -1;
}
